{% extends 'blog/base.html' %}

{% block title %}
Log in – Blog
{% endblock %}

{% block content %}
    <h3>Log in</h3>

    {% if form.errors %}
        <p id="empty-comments">Invalid username and/or password! Please try again.</p>
    {% endif %}

    <form method="POST" action="{% url 'login' %}" class="login-form" title="">
        {% csrf_token %}
        <table>
            <tr>
                <td class="login-firstrow">{{ form.username.label_tag }}</td>
                <td class="login-firstrow login-rightcolumn">{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td class="login-rightcolumn">{{ form.password }}</td>
            </tr>
        </table>

        <input type="submit" value="Log in" class="btn btn-secondary text-button" title="Log in" />
        <input type="hidden" name="next" value="{{ next }}" />
        <button class="btn btn-secondary text-button" title="Return to previous page" onclick="return history.back()">Cancel</button>
    </form>
{% endblock %}