{% extends 'blog/base.html' %}

{% block title %}
Log in – Blog
{% endblock %}

{% block content %}
    <h3>Log in</h3>

    {% if form.errors %}
        <p id="login-invalid">Invalid username and/or password! Please try again.</p>
    {% endif %}

    <form method="POST" action="{% url 'login' %}" class="login-form" title="">
        {% csrf_token %}
        <table>
            <tr>
                <th class="login-firstrow" scope="row">{{ form.username.label_tag }}</td>
                <td class="login-firstrow">{{ form.username }}</td>
            </tr>
            <tr>
                <th scope="row">{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <button type="submit" class="btn btn-secondary text-button" title="Log in">Log in</button>
        <button type="button" class="btn btn-secondary text-button" title="Return to previous page" onclick="return history.back()">Cancel</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}