<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Blog</a></h1>
        </header>

        <article>
            <h3><a href="">Post #1</a></h3>
            <time>14 June 2023, 19:07</time>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis risus. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu. Fusce tellus odio, dapibus id fermentum quis, suscipit id erat. Nulla non lectus sed nisl molestie malesuada. Etiam bibendum elit eget erat. Aenean id metus id velit ullamcorper pulvinar.</p>
        </article>

        <article>
            <h3><a href="">Post #2</a></h3>
            <time>14 June 2023, 19:09</time>
            <p>Duis risus. Vivamus ac leo pretium faucibus. Praesent id justo in neque elementum ultrices. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
        </article>
    </body>
</html>