{% extends 'blog/base.html' %}

{% block title %}
{{ post.title }} – Blog
{% endblock %}

{% block content %}
    <article class="post">
        <aside class="actions">
            {% if user.is_authenticated %}
                {% if not post.published_date %}
                    <a href="{% url 'post_publish' pk=post.pk %}" class="btn btn-secondary" title="Publish post" onclick="return confirm('Are you sure you want to publish the post?')">
                        {% include './icons/check-square.svg' %}
                    </a>
                {% endif %}
                <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-secondary" title="Edit post">
                    {% include './icons/pencil-fill.svg' %}
                </a>
                <a href="{% url 'post_remove' pk=post.pk %}" class="btn btn-secondary" title="Remove post" onclick="return confirm('Are you sure you want to remove the post?')">
                    {% include './icons/trash.svg' %}
                </a>
            {% endif %}
        </aside>
        <h3>{{ post.title }}</h3>
        {% if post.published_date %}
            <time class="date">Published on {{ post.published_date }}</time>
        {% else %}
            <time class="date">Created on {{ post.created_date }}</time>
        {% endif %}
        {% if post.edited_date and not post.published_date or post.published_date < post.edited_date %}
            <time class="date"> / Last edited on {{ post.edited_date }}</time>
        {% endif %}
        <p>{{ post.text|linebreaks }}</p>
    </article>

    <hr>

    <h3 id="comments">Comments</h3>
    {% for comment in post.ordered_comments.all %}
        <div class="comment">
            <aside class="actions">
                {% if user.is_authenticated %}
                    {% if not comment.approved_comment %}
                        <a href="{% url 'comment_approve' pk=comment.pk %}" class="btn btn-secondary" title="Approve comment" onclick="return confirm('Are you sure you want to approve the comment?')">
                            {% include './icons/check-square.svg' %}
                        </a>
                    {% endif %}
                    <a href="{% url 'comment_remove' pk=comment.pk %}" class="btn btn-secondary" title="Remove comment" onclick="return confirm('Are you sure you want to remove the comment?')">
                        {% include './icons/trash.svg' %}
                    </a>
                {% endif %}
            </aside>
            {% if comment.approved_comment or user.is_authenticated %}
                <div class="date">{{ comment.created_date }}</div>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|linebreaks }}</p>
            {% endif %}
        </div>
    {% empty %}
        <p id="empty-comments">No comments yet.</p>
    {% endfor %}

    <hr>

    <h3>Add new comment</h3>
    <form method="POST" class="comment-form" title="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-secondary text-button" title="Submit comment for approval">Submit</button>
    </form>
{% endblock %}