body {
    padding: 15px 300px;
    font-family: "Lato";
    font-size: 13pt;
}

h3,
h3 a,
h3 a:visited {
    color: olivedrab;
    font-size: 22pt;
}

h3 a:hover {
    text-decoration: none;
}

hr {
    margin: 30px 0px;
}

.page-header {
    margin-bottom: 30px;
}

.page-header > .container {
    background-color: aliceblue;
    padding: 20px;
    clear: both;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited {
    color: midnightblue;
    font-size: 36pt;
    text-align: center;
    text-decoration: none;
    clear: both;
}

.page-header h1 a:hover {
    text-decoration: underline;
}

.header-icons {
    margin-bottom: 15px;
}

.page-footer {
    margin-top: 20px;
    font-size: 9pt;
    text-align: center;
}

.page-footer hr {
    margin-top: 0px;
}

.post {
    margin-bottom: 30px;
}

.post p {
    margin: 20px 0px;
}

.comment {
    margin: 20px 0px;
    font-size: 11pt;
}

.comment p {
    margin-bottom: 10px;
}

.post-form,
.comment-form {
    margin-top: 20px;
}

.post-form textarea,
.post-form input,
.comment-form textarea,
.comment-form input {
    width: 100%;
}

.comment-form textarea {
    height: 140px;
}

.login-form {
    margin: 20px 0px;
}

.login-form table {
    margin-bottom: 20px;
}

.login-form table tr th {
    padding-right: 20px;
    font-weight: normal;
}

.login-firstrow {
    padding-bottom: 3px;
}

.btn-secondary,
.btn-secondary:visited {
    color: midnightblue;
    background: none;
    border-color: midnightblue;
}

.btn-secondary:hover {
    color: white;
    background-color: midnightblue;
}

.text-button {
    margin: 0px 2px 30px 2px;
    float: left;
}

.comment-link,
.comment-link:visited {
    color: midnightblue;
    font-style: italic;
}

.comment-link:hover {
    text-decoration: none;
}

.date {
    font-style: italic;
}

.left {
    float: left;
}

.right,
.actions {
    float: right;
}

#login-button {
    margin: -15px 0px 15px 0px;
}

#empty-comments,
#login-invalid {
    margin: 20px 0px;
}