body {
    padding: 15px 300px 15px 300px;
    font-family: "Lato";
}

h3,
h3 a,
h3 a:visited,
h3 a:active {
    color: olivedrab;
    font-size: 22pt;
}

h3 a:hover {
    text-decoration: none;
}

hr {
    margin: 30px 0px 30px 0px;
}

.page-header {
    background-color: aliceblue;
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 20px 20px 20px 20px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: midnightblue;
    font-size: 36pt;
    text-align: center;
    text-decoration: none;
}

.page-footer {
    text-align: center;
    margin-top: 20px;
}

.page-footer p {
    font-size: 9pt;
}

.page-footer hr {
    margin: 0px 0px 30px 0px;
}

.post {
    margin-bottom: 30px;
}

.post p {
    margin: 20px 0px 20px 0px;
    font-size: 13pt;
}

.post > .actions {
    float: right;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.comment > .actions {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.btn-secondary,
.btn-secondary:visited {
    color: midnightblue;
    background: none;
    border-color: midnightblue;
}

.btn-secondary:hover {
    color: white;
    background-color: midnightblue;
}

.text-button {
    margin: 0px 2px 0px 2px;
}

.date {
    font-size: 13pt;
    font-style: italic;
}

.comment-link,
.comment-link:visited,
.comment-link:active {
    color: midnightblue;
    font-size: 13pt;
    font-style: italic;
}

.comment-link:hover {
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

#empty-comments {
    font-size: 13pt;
    margin: 20px 0px 20px 0px;
}

#empty-drafts {
    font-size: 13pt;
}